// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
   font-family: "Euclid Circular A" !important;
   color: #3d3a55;
}
.air {
   margin-top: 20px;
   margin-bottom: 20px;
   width: 100%;
   display: block;
}

.corazon {
   position: absolute;
   bottom: 8px;
   right: 8px;
   cursor: pointer;
}

a.options {
   position: absolute;
   right: 10px;
   color: #4f4d65 !important;
   font-size: 28px;
   z-index: 99;
}

.corazon img {
   width: 22px;
}

.write {
   width: 156px;
   margin: auto;
   padding: 7px 0px;
   height: 37px;
   top: 20px;
   text-align: center;
   font-weight: bold;
   border-radius: 3px;
   border: 1px solid #0a0a0a;
   border: 1px solid var(--theme-top-bar-write-color, #0a0a0a);
   color: #0a0a0a !important;
   color: var(--theme-top-bar-write-color, #0a0a0a);
   background: #bcdeff;
   background: var(--theme-top-bar-write-background, #bcdeff);
}

.notification {
   margin-left: 10px;
   margin-right: 4px;
   padding: 6px 0px;
   text-align: center;
   font-weight: bold;
   color: #0a0a0a !important;
   color: var(--theme-top-bar-write-color, #0a0a0a);
}

.message {
   margin-right: 10px;
   padding: 6px 0px;
   text-align: center;
   font-weight: bold;
   color: #0a0a0a !important;
   color: var(--theme-top-bar-write-color, #0a0a0a);
}

.contact-list {
   border-bottom: 1px solid #b7b5b5;
   cursor: pointer;
}

.contact {
   padding-left: 10px;
   margin-bottom: 0px;
}

.inbox
{
  overflow:auto;
}

.messages-container {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  overflow:auto;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.notificated {
   border: 2px solid black;
}

a {
  color: #5271ff !important;
}

h3 a {
   color: #3d3a55 !important;
}

.without-border {
   border: 0px solid !important;
}

.card .card-footer{
   border: 0px solid !important;
}

#comments {
   border-top: 1px solid #dfdfdf;
}

.btn-primary {
   color: white;
   background-color: #5273ff;
   border-color: #5172ff;
}

.badge {
   font-size: 100% !important;
}

.navbar {
   padding: 0rem 1rem !important;
}

@media (min-width: 1200px) {
   .container {
      max-width: 1250px !important;
   }
}

.active {
   background-color: #5172ff1c !important;
}

.date {
   float: right;
   color: #797979b3;
   font-size: 12px;
}

.chat-content {
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chat-text {
   padding: 10px;
   border-top-left-radius: 0px;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   border-bottom-left-radius: 30px;
   margin-left: 30px;
}

.chat-text-me {
   padding: 10px;
   border-top-left-radius: 30px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 30px;
   border-bottom-left-radius: 30px;
   margin-left: 30px;
}

.without-border-left {
   border-left: 0px;
   border-top-left-radius: 0px !important;
   border-top-right-radius: 0.25rem;
   border-bottom-right-radius: 0.25rem;
   border-bottom-left-radius: 0px !important;
}
