@font-face {
    font-family: 'Euclid Circular A';
    src: url('EuclidCircularA-Medium.woff2') format('woff2'),
        url('EuclidCircularA-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

